body,html{
    width: 100%;
    height: 100%;
}
h1,.plus{
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    font-weight: 700;
}

.header-content-inner a{
    color: cadetblue;
    padding: 1%;
    font-size: 1em;
}
.header-content-inner a:hover{
    color:#ffffff;
}
h2,h3,h4,h5,h6 {
    color: #ffffff;
}
p{
    margin-top: 7%;
    color:  #ffffff;
}
p>img {
    margin: 1%;
}

hr{
    border: 2px solid #FF6D00;
    max-width: 50px;
}
.or {
    color: #FF6D00;
}
.section-heading{
    color:black;
}

#about {
    background: #222;
    padding-top: 5%;
    padding-bottom: 5%;
}
#about h2{
    padding-bottom: 5%;
}




#contact {
    padding-top: 5%;
    padding-bottom: 7%;
}
#contact h4{
    padding-top: 2%;
    padding-bottom: 2%;

}
#contact {
    color:black;
    background: #ffffff;
}
#contact h5{
    text-align: center;
    padding-top: 3%;
}
#contact p{
    margin-bottom: 5%;
    margin-top: 2%;
}

#contact a{
    color: #FF6D00;
    text-decoration: none;
}
footer{
    background: #222;
    padding: 1%;
}


/*/////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 480px) {
    header{
        position: relative;
        width: 100%;
        min-height: 85%;
        text-align: center;
        color: #fff;
        background-image: url(images/berlin.jpg);
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    header .header-content {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        margin-left: 10%;
        text-align: center;
    }


    i{
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    header{
        position: relative;
        width: 100%;
        min-height: 95%;
        text-align: center;
        color: #fff;
        background-image: url(images/berlin.jpg);
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    header .header-content {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        margin-left: 10%;
        text-align: center;
    }


}
@media (max-width: 1500px) {
    header{
        position: relative;
        width: 100%;
        min-height: 100%;
        text-align: center;
        color: #fff;
        background-image: url(images/berlin.jpg);
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    header .header-content {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;
    }
    .row{
        font-size: 1.1em;
    }

}
@media (min-width: 1510px) {
    header{
        position: relative;
        width: 100%;
        min-height: 100%;
        text-align: center;
        color: #fff;
        background-image: url(images/berlin.jpg);
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-attachment: fixed;
    }
    header .header-content {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;
    }
    .row{
        font-size: 1.4em;
    }
}